name: '{{ elastic_apm_beat_name }}'

apm-server:
  host: '0.0.0.0:8200'
  {% if elastic_apm_secret_token is defined %}secret_token: {{ elastic_apm_secret_token }}{% endif%}

setup.template.enabled: '{{ elastic_apm_setup_template_enabled }}'
setup.template.settings:
  index:
    number_of_shards: 1
    codec: best_compression

output.elasticsearch:
  hosts:
    {{ elastic_apm_elasticsearch_hosts | to_yaml | indent(4) }}
  compression_level: {{ elastic_apm_compression_level }}

xpack.monitoring:
  enabled: true
