name: '{{ elastic_apm_beat_name }}'

apm-server:
  host: '0.0.0.0:8200'
  {% if elastic_apm_secret_token is defined %}secret_token: {{ elastic_apm_secret_token }}{% endif%}

  max_event_size: {{ elastic_apm_max_event_size }}

queue.mem.events: {{ elastic_apm_queue_mem_events }}

max_procs: {{ elastic_apm_max_procs }}

setup.template.enabled: '{{ elastic_apm_setup_template_enabled }}'
setup.template.settings:
  index:
    number_of_shards: 1
    codec: best_compression

output.elasticsearch:
  hosts:
    {{ elastic_apm_elasticsearch_hosts | to_yaml | indent(4) }}
  compression_level: {{ elastic_apm_compression_level }}
  indices:
    {{ elastic_apm_indices | to_yaml | indent(4) }}
  workers: {{ elastic_apm_output_elasticsearch_workers }}
  bulk_max_size: {{ elastic_apm_output_elasticsearch_bulk_max_size }}

xpack.monitoring:
  enabled: true
